body{
  background-color: var(--shape-backgroud);
}

#app{
  display: grid;
  max-width: 1280px;
  margin-inline: auto;
  height: 100vh;
  grid-template-columns: 400px auto;
  gap: 1.5rem;
  padding: 1.25rem;
  background-color: var(--shape-backgroud);
  overflow: hidden;
}

aside{
  border-radius: .75rem;
  padding: 2rem;
  height: 100vh;
  background-image: url(../assets/Background.svg);
  background-repeat: no-repeat;

  h1{
    font: var(--text-logo);
    color: var(--pink);
    margin-bottom: .25rem;
    margin-top: 1rem;
  }

  p{
    font: var(--body-md);
    color: var(--text-color-heading);
    font-weight: 300;
  }

}
main::-webkit-scrollbar {
  width: 0;
}

main{
  display: grid;
  overflow-y: auto;
  background-color: var(--shape-body);
  border-radius: .75rem;
  padding: 5rem;
  gap: 2.5rem;
  justify-items: center;
  


  h1{
    font: var(--heading-md);
    color: var(--text-color-heading);
    width: 35rem;
  }
}

#about{
  display: grid;
  gap: 1rem;
}

#forms{
  display: grid;
  margin-inline: auto;
  max-width: 35rem;
  gap: 3rem;
}

.section{
  display: flex;
  gap: .75rem;

  font: 800 1rem "Baloo 2", serif;
  color: var(--text-color-heading);

  align-items: center;

  margin-bottom: .5rem;
}


.customization{
  display: grid;
  gap: 1rem;
}

.contact{
  display: grid;
  gap: 1rem;
}
