body{
  display: grid;
  max-width: 1280px;
  margin-inline: auto;
  height: 100vh;
  grid-template-columns: 400px auto;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--shape-backgroud);
  overflow: hidden;
}

aside{
  border-radius: .75rem;
  padding: 2rem;
  background-image: url(../assets/Background.svg);
  background-repeat: no-repeat;
  background-size: cover;

  h1{
    font: var(--text-logo);
    color: var(--pink);
    margin-bottom: .25rem;
    margin-top: 1rem;
  }

  p{
    font: var(--body-md);
    color: var(--text-color-heading);
    font-weight: 300;
  }

}

main{
  background-color: var(--shape-body);
  border-radius: .75rem;
  padding: 5rem;
}